@media (max-width: 1372px) {
  .iconSelectorContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1372px) {
  .iconSelectorContainer {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1372px) {
  .searchContainer {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    align-items: center;
  }
}

@media (min-width: 1372px) {
  .searchContainer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
  }
}

.innerSearchContainer {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 1372px) {
  .searchInput {
    width: 300px;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 20px;
  }
}

@media (min-width: 1372px) {
  .searchInput {
    width: 300px;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 20px;
    padding-bottom: 5px;
  }
}

@media (max-width: 1372px) {
  .innerIconSelectorContainer {
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(17, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    min-height: 50px;
  }

  .placeholder {
    color: black;
    opacity: 30%;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    user-select: none;
  }
}

@media (min-width: 1372px) {
  .innerIconSelectorContainer {
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
  }

  .placeholder {
    color: black;
    opacity: 30%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    user-select: none;
  }
}

.innerIconSelectorContainerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid transparent;
  cursor: pointer;
}

.innerIconSelectorContainerItem:hover {
  border: 1px solid black;
  border-radius: 5px;
}

.innerIconSelectorContainerItem > svg {
  width: 30px;
  height: 30px;
}

.innerIconSelectorContainerItem > p {
  font-size: 0.7em;
  margin-top: 5px;
  text-align: center;
  user-select: none;
}

@media (max-width: 1372px) {
  .searchIcon {
  }
}

@media (min-width: 1372px) {
  .searchIcon {
    transform: translateY(-2px);
  }
}
