@media (max-width: 1372px) {
  .mobileDrawerButton {
    border: none;
    background-color: transparent;
    position: absolute;
  }
}

@media (min-width: 1372px) {
  .mobileDrawerButton {
    display: none;
  }
}

.icon {
  height: 30px;
  width: 30px;
  margin-top: 23px;
}
