@media (max-width: 1372px) {
  .mobileDrawerButton {
    border: none;
    background-color: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
  }
}

@media (min-width: 1372px) {
  .mobileDrawerButton {
    display: none;
  }
}

.icon {
  height: 30px;
  width: 30px;
}
