.paginationOperatorWrapper {
  display: flex;
  flex-direction: row;
  width: 15%;
}

.icon {
  width: 30%;
  height: 100%;
  cursor: pointer;
}

.pageDescriptionWrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.pageDescriptionWrapper > p {
  font-size: 0.7rem;
  user-select: none;
}
