.table {
  width: 100%;
}

@media (max-width: 1372px) {
  .placeholder {
    color: black;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    opacity: 30%;
    user-select: none;
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
}

@media (min-width: 1372px) {
  .placeholder {
    color: black;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 0;
    right: 0;
    opacity: 30%;
    user-select: none;
    text-align: center;
  }
}
