.row {
  line-height: 21px;
}

.row > td:nth-child(2) {
  padding-right: 10px;
}

.numberRowPart {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  user-select: none;
  color: gray;
}
