.container {
  /* padding: 0 2rem; */
}

.header {
  height: 12.7vh;
  border-bottom: 1px solid black;
}

.main {
  min-height: 84.3vh;
  width: 100%;

  display: flex;
}

.footer {
  height: 3vh;
  display: flex;
  flex: 1;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;
}

.ribbon {
  height: 31%;
  width: 100%;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  user-select: none;
}

.ribbonText {
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-overflow: clip;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;

}

.logoAndButtons {
  width: 100%;
  height: 69%;
  display: flex;
}

.logoContainer {
  width: 60%;
  height: 100%;
  user-select: none;
  display: flex;
  align-items: center;
}

.buttonsContainer {
  width: 40%;
  height: 100%;
  display: flex;

}

.headerButton {
  width: 33%;
  height: 100%;
  border-left: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.headerButtonText {
  font-size: 1.5em;
  font-weight: 800;
}

.headerTitleText {
  font-size: 2.5em;
  font-family: "Lobster";
  margin-left: 0.5em;
}

.fistMainContainer {
  width: 50%;
  border-right: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondMainContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}